{% extends '@App/QuizDefinition/index.html.twig' %}

 {% block sub_nab_bar %}
     {% include '@App/QuizDefinition/sub_nav_bar.html.twig' with {'subCurrentTab' : 'quizz'} %}
 {% endblock %}

{% block quiz_main_container %}

    <h2> Affectations pour le quiz {{ quiz.name }}</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-8 col-md-2 col-md-offset-10">
            <button type="submit" class="btn btn-success btn-block">
                <span class="glyphicon glyphicon-ok"></span> Enregistrer
            </button>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('#form_candidates').multiSelect();
        })
    </script>
{% endblock %}