{% extends '@App/QuizDefinition/index.html.twig' %}

 {% block sub_nab_bar %}
     {% include '@App/QuizDefinition/sub_nav_bar.html.twig' with {'subCurrentTab' : 'questions'} %}
 {% endblock %}

{% block quiz_main_container %}

    <a href="{{ path('add_edit_question') }}" class="btn btn-primary pull-right" style="margin-top: 10px;">
        <span class="glyphicon glyphicon-plus"></span> Ajouter une question
    </a>

    <h2>Liste des Questions</h2>

    <table id="questionsTable" class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th>Question</th>
            <th>Type</th>
            <th>Réponses</th>
            <th width="50px">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for q in questions %}
            <tr>
                <td>{{ q.question }}</td>
                <td>{{ q.type }}</td>
                <td>
                    <ul>
                        {% for r in q.responses %}
                            <li>{{ r.response }} {% if r.correct %} <span class="glyphicon glyphicon-ok"></span> {% endif %}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('add_edit_question',{"question":q.id}) }}"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            initSimpleDataTable('#questionsTable',{
                columnDefs:[
                    {
                        targets:3,
                        orderable: false
                    }
                ]
            });
        })
    </script>
{% endblock %}